VITE_SUPABASE_URL= https://vrlvslncqdagunkzpbwy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZybHZzbG5jcWRhZ3Vua3pwYnd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NDAxNzQsImV4cCI6MjA5ODMxNjE3NH0.XPLyhrN7cajltM7dh8A24xDgo7L1pua6eTao4qrF8Y0
